/*  HEADER  */

#header {
  text-align: center;
  padding: 16px 0 32px;
}

.logo {
  margin-bottom: 20px;
  margin-inline: auto;
  width: 360px;
}

.meni button:hover,
.meni button.active {
  font-family: "CorbelBold";
}

.meni button.active,
.logo,
#footer {
  color: var(--main-color);
  mix-blend-mode: difference;
}

.meni ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-left: -16px;
}

.meni ul li button {
  text-transform: uppercase;
  background-color: transparent;
  font-size: 16px;
  font-family: "CorbelLight";
  min-width: 100px;
  color: black;
}

/*  END HEADER  */

#page-domov,
#page-info,
#projekti {
  max-width: 800px;
  margin-inline: auto;
}

/*     DOMOV    */
#page-domov {
  display: grid;
  grid-template-columns: min(100%, 400px) min(100%, 400px);
  justify-content: center;
  gap: 24px;
}

#page-domov img {
  width: 100%;
  border: 1px solid var(--main-color);
  height: 100%;
  object-fit: cover;
}

#page-domov .slika-levo {
  position: relative;
  max-height: 420px;
}

#page-domov .tekst-desno > p:first-child {
  margin-top: 0;
}

#page-domov .tekst-desno > p:last-child {
  margin-bottom: 0;
}

#page-domov .slika-levo .tekst-slika {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, #00000091 33%);
}

#page-domov .slika-levo .tekst-slika .tekst {
  width: 100%;
  margin-left: auto;
  color: white;
  padding: 0 12px 12px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: right;
}

#page-domov .slika-levo .tekst-slika .tekst p:last-child {
  margin-bottom: 0;
}

/*   END DOMOV  */

/*   PROJEKTI   */

#projekti .galerija-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

#projekti .galerija-grid img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border: 1px solid var(--main-color);
}

#projekti .galerija-grid span.besedilo {
  position: absolute;
  z-index: 10;
  font-size: 92px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#projekti .galerija-grid span.stevilka {
  position: relative;
  top: 10px;
}

#projekti .galerija-grid > div {
  position: relative;
  cursor: pointer;
  height: 200px;
  width: 388px;
}

#projekti .galerija-grid > div > img {
  height: 200px;
  width: 388px;
}

#projekti .galerija-grid > div::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: #00000040;
  transition: all 0.3s ease;
}

#projekti .galerija-grid > div:hover::after {
  background-color: #00000080;
}

#projekti .galerija-grid > div:nth-child(4n) span.besedilo,
#projekti .galerija-grid > div:nth-child(4n-1) span.besedilo {
  color: white;
}
#projekti .galerija-grid > div:nth-child(4n-2) span.besedilo,
#projekti .galerija-grid > div:nth-child(4n-3) span.besedilo {
  color: var(--main-color);
}

#projekti .galerija-grid > div:nth-child(4n-2)::after,
#projekti .galerija-grid > div:nth-child(4n-3)::after {
  background-color: #ffffff9e;
}

#projekti .galerija-grid > div:nth-child(4n-2):hover::after,
#projekti .galerija-grid > div:nth-child(4n-3):hover::after {
  background-color: #ffffff40;
}

/* END PROJEKTI */

/*   PROJEKT-MORE   */
.projekt-more-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 24px;
  position: relative;
  left: calc(-50vw + 50%);
  right: calc(-50vw + 50%);
  width: 100vw;
  padding-left: 32px;
  padding-right: 10%;
}

.projekt-number {
  position: relative;
}

.projekt-number span {
  transform: rotate(-90deg) translate(60%, 10%);
  display: block;
  position: absolute;
  bottom: -18px;
  right: -10px;
  font-size: 42px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.projekt-tloris,
.projekt-text {
  text-align: right;
}

.projekt-tloris img {
  width: auto;
  max-height: 142px;
  height: auto;
}

.projekt-text {
  margin-top: 84px;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
}

.projekt-text > p {
  margin-top: 0;
  margin-bottom: 4px;
}

.projekt-text .text-strong {
  font-family: "CorbelBold";
}

.projekt-more-info .main-gallery {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.projekt-more-info .main-gallery .images-sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projekt-more-info .main-gallery .images-sidebar.mobile {
  display: none;
}

.projekt-more-info .main-gallery .images-sidebar img {
  width: 110px;
  height: auto;
  object-fit: cover;
}

.projekt-more-info .main-gallery .images-main img {
  width: auto;
  height: 100%;
  max-width: 454px;
}

.projekt-more-info .main-gallery img {
  border: 1px solid var(--main-color);
  width: 100%;
}

.images-main {
  display: flex;
  align-items: center;
  position: relative;
  width: 520px;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.4s ease;
  width: 100%;
}

.slider > div {
  flex: 0 0 100%;
  max-width: fit-content;
  padding-right: 70px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid var(--main-color);
  z-index: 10;
  mix-blend-mode: difference;
}

.arrow.left {
  right: 40px;
  transform: scaleX(-1) translateY(-50%);
}
.arrow.right {
  right: 0px;
}

/* END PROJEKT-MORE */

/*     INFO     */

#page-info {
  display: grid;
  grid-template-columns: min(100%, 400px) min(100%, 400px);
  justify-content: center;
  gap: 24px;
}

#page-info img {
  width: 100%;
  border: 1px solid var(--main-color);
  height: 100%;
  object-fit: cover;
  object-position: 100% 20%;
}

#page-info .slika-levo {
  position: relative;
  max-height: 420px;
}

#page-info .tekst-desno > p:first-child {
  margin-top: 0;
}

#page-info .tekst-desno > p:last-child {
  margin-bottom: 0;
}

#page-info .slika-levo .tekst-slika {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, #00000091 33%);
}

#page-info .slika-levo .tekst-slika .tekst {
  width: 100%;
  margin-left: auto;
  color: white;
  padding: 0 12px 12px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: right;
}

#page-info .slika-levo .tekst-slika .tekst p:last-child {
  margin-bottom: 0;
}
/*   END INFO   */

/*    FOOTER    */

#footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
  padding-block: 24px;
}

#footer p {
  margin: 0;
}

/*  END FOOTER  */

/* BREAKPOINTS */

.home-alternativa-1 {
  display: none;
}

@media screen and (max-width: 1024px) {
  * {
    cursor: default !important;
  }
  .cursor-follower {
    display: none;
  }
  img {
    mix-blend-mode: normal;
  }
  .meni ul {
    margin-left: 0;
    justify-content: space-around;
    gap: 8px;
  }

  .logo img {
    width: 100%;
    padding-inline: 20px;
  }

  #content {
    padding-inline: 24px;
  }

  #page-domov,
  #page-info {
    display: flex;
    flex-direction: column;
  }

  #page-domov .slika-levo .tekst-slika,
  #page-info .slika-levo .tekst-slika {
    position: relative;
    background: #00000080;
    z-index: 2;
  }

  #page-domov .slika-levo .tekst-slika .tekst,
  #page-info .slika-levo .tekst-slika .tekst {
    padding: 12px;
  }

  #page-domov .slika-levo .tekst-slika .tekst p:first-child,
  #page-info .slika-levo .tekst-slika .tekst p:first-child {
    margin-top: 0;
  }

  #page-domov .slika-levo img,
  #page-info .slika-levo img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 45%;
  }

  #page-info .slika-levo img {
    object-position: 100% 10%;
  }

  #projekti .galerija-grid span.besedilo {
    font-size: 72px;
  }

  #projekti .galerija-grid > div {
    width: auto;
    height: auto;
  }

  #projekti .galerija-grid > div > img {
    width: 100%;
    height: 100%;
  }

  .projekt-more-info .main-gallery .images-sidebar.mobile {
    display: flex;
    flex-wrap: wrap;
  }

  .projekt-more-info .main-gallery .images-sidebar.desktop {
    display: none;
  }

  .projekt-more-info {
    grid-template-columns: 1fr;
  }

  .projekt-more-info .main-gallery {
    display: grid;
    grid-template-columns: 1fr;
  }

  .projekt-more-info .main-gallery .images-sidebar img {
    width: 30%;
    height: auto;
    object-fit: cover;
  }

  .images-main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: visible;
  }

  .arrow {
    display: none;
  }

  .slider {
    all: unset;
    transform: none !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .slider > div {
    padding-right: 0;
  }

  .projekt-more-info .main-gallery .images-main img {
    max-width: 100%;
    height: auto;
  }

  .projekt-more-info .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .projekt-more-info .mobile-join {
    display: flex;
    gap: 0;
    min-height: 90px;
  }

  .projekt-number span {
    position: relative;
    transform: rotate(-90deg) translate(-23%, -40%);
  }

  .projekt-text {
    margin-top: 0;
    text-align: left;
  }

  .projekt-text > p {
    line-height: 1;
    margin-bottom: 8px;
  }

  .home-alternativa-1 {
    border-top: 2px solid red;
  }

  .home-alternativa-1 > div:first-child {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: right;
  }

  .projekt-more-info .main-gallery .images-sidebar {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  #projekti .galerija-grid {
    grid-template-columns: 1fr;
  }

  #projekti .galerija-grid > div {
    height: auto;
  }

  .projekt-more-info .main-gallery {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  .projekt-more-info .sidebar {
    display: block;
  }

  .slider {
    grid-template-columns: 1fr;
  }

  .projekt-tloris img {
    width: 100%;
    height: auto;
    max-height: unset;
    padding-inline: 20px;
  }
  .projekt-text > p {
    margin-bottom: 12px;
  }

  .logo {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #projekti .galerija-grid span.besedilo {
    font-size: 58px;
  }

  .projekt-more-info .mobile-join {
    display: block;
    min-height: unset;
  }

  .projekt-number {
    margin-bottom: 8px;
  }

  .projekt-number span {
    transform: none;
    display: block;
    position: relative;
    bottom: 0;
    right: 0;
    font-size: 42px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }
}

@media screen and (min-width: 2000px) {
  .projekt-more-info {
    grid-template-columns: 1fr 1fr;
  }
}
